 {% load static %}

 <div class="mt-4">
     <div class="modal fade" id="assign" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Assign System</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <form method="post">
      <div class="modal-body">
        <div class="registerdiv">
          {% csrf_token %}

       <div class="mt-4">

         <select class="form-control bg-white" name="{{ assign_system.system_user.html_name}}">
              {% for id, username in assign_system.system_user.field.choices %}
             <option value="{{ id }}">{{ username }}</option>
                   {% endfor %}
         </select>
       </div>


      <div class="mt-4">
          <select class="form-control bg-white" name="{{ assign_system.system.html_name}}">
              {% for id, name in assign_system.system.field.choices %}
             <option value="{{ id }}">{{ name }} </option>
                  {% endfor %}
         </select>
       </div>



          <div class="mt-4">
         <input type="datetime-local" class="form-control bg-white"  placeholder="Assign_time" name="{{ assign_system.assign_time.html_name }}">
       </div>


          <div class="mt-4">
         <input type="datetime-local" class="form-control bg-white"  placeholder="Finish_time" name="{{ assign_system.finish_time.html_name }}">
       </div>



        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Assign system</button>
        </div>
        </form>
    </div>
  </div>
</div>
 </div>
