        {% extends 'user/base.html' %}
        {% load static %}
             {% block showdata %}
               {% if request.user.is_superuser %}
              
                <div class="output">

                </div>



                 <div class="addsystembtn">
                    <a class="btn" style="float:right;background:dodgerblue; color:white;margin-left:20px;" id="relesemodal">Relese</a>
                    <a href="{% url 'user:assign_system_listing'%}" class="btn" style="float:right;background:dodgerblue; color:white;margin-left:20px;">See Assign History</a>
                    <a href="#" class="btn add_system" style="float:right;background:dodgerblue; color:white;">Add System</a>
                    <a href="#" class="btn" style="float:right;background:dodgerblue; color:white; margin-right:20px;" id="link">Assign System</a>
                    </div>
            <br>



        <table id="system_data" class="table table-striped display" style="width:100%">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Company</th>
                <th>RAM</th>
                <th>Unit</th>
                <th>Status</th>
                <th>Update</th>
            </tr>
            </thead>
            <tbody>
                
                {% for data in object_list %}
                <tr> <!--data.name__id}-->
                <td id="configure_{{data.id}}" value="{{data.name__id}}"><input type="checkbox" class="checkbox" value={{data.id}}></td>
                <td id="system_{{data.id}}">{{data.name__name}}</td>
                <td id="company_{{data.id}}">{{data.name__company}}</td>
                <td id="ram_{{data.id}}">{{data.name__ram}}</td>
                <td id="unit_{{data.id}}">{{data.name__unit}}</td>
                <td id="status_{{data.id}}">{{data.status}}</td>
                <td><a class="btn update_link" class="getsystem_{{data.id}}" value={{data.id}}><img src="{% static 'images/pensil.png' %}" height="20px" width="20px"></a></td>
                </tr>
                {% endfor %}
        </table>
        {% endif %}

<!--
    relese button modal
-->
<div class="mt-4">
    <div class="modal fade" id="relesebtn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Release System
                   </h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>


               <div>
                   <div class="modal-body">
                       <div class="registerdiv">
                        <br>
                          <b>Are you sure you want to release this system..??</b>
                        <form method="post" action="{% url 'user:homepage' operation='release' %} ">
                            <div class="mt-4">
                                <input type="text" class="form-control bg-white" id="getsystemid" style="display:none;">
                              </div>
                       </div>
                   </div>
                   <div class="modal-footer">
                       <button type="button" onClick="relesepost()" class="btn btn-primary" id="releseclosemodal">Relese system</button>
                   </div>
                </form>
               </div>
           </div>
       </div>
   </div>
</div>


<!--
    Update system details modal showing here
-->

 <div class="mt-4">
    <div class="modal fade" id="update_system_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Update your System Details Here...
                   </h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>


               <div>
                   <div class="modal-body">
                       <div class="registerdiv">
                        <form method="post">
                            {% csrf_token %}
                            <!-- configure id style="display:none " -->
                            <div class="mt-4">
                                <input type="text" id="congigure_id" class="form-control bg-white" style="display:none ">
                            </div>


                            <!-- system id input-->
                            <div class="mt-4">
                                <input type="text" id="systemUpdate_id" class="form-control bg-white" style="display:none">
                            </div>
                           
                            
                            <div class="mt-4">
                                <input type="text" id="update_name" class="form-control bg-white"  placeholder="Update System Name">
                            </div>
                            <div class="mt-4">
                                <input type="text" id="update_company_name" class="form-control bg-white"  placeholder="Update Company Name">
                            </div>
                             <div class="mt-4">
                                <input type="number" id="update_ram" class="form-control bg-white"  placeholder="Update Ram">
                            </div>
                            <div class="mt-4">
                                <select class="form-control bg-white" id="update_unit">
                                  <option disabled>----</option>
                                  <option>KB</option>
                                  <option>MB</option>
                                  <option>GB</option>
                                  <option>TB</option>
                              </select>
                            <div class="mt-4">
                                <select class="form-control bg-white" id="update_status">
                                    <option disabled>----</option>
                                    <option>AVAILABLE</option>
                                    <option>OCCUPIED</option>
                                    <option>MAINTENANCE</option>
                                    <option>INACTIVE</option>
                                </select>
                            </div>

                       </div>
                   </div>
                   <div class="modal-footer">
                    <button onClick="updatesystemPost()"  type="button" class="btn btn-primary" name="updatesystem" id="updatebtn">Update</button>
                   </div>
                </form>
               </div>
           </div>
       </div>
   </div>
</div>



<!--
    Assign System Modal 
-->

<div class="mt-4">
     <div class="modal fade" id="assign" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Assign System
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div method="post" id="formId" operation='assign'>
                    <div class="modal-body">
                        <div class="registerdiv">
                            <div class="mt-4">
                                <select class="form-control bg-white" id="testModalSelect" name="{{ assign_system.system_user.html_name}}">
                                      
                                </select>
                             </div>


                             <div class="mt-4">
                                <input type="datetime-local" class="form-control bg-white" id="assign_time"  placeholder="Assign_time" name="{{ assign_system.assign_time.html_name }}" style="display:none;">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button onClick="submitPost()" type="button" class="btn btn-primary" value="submit" id="submit">Assign system</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
    Add System on modal showing here
-->

<div class="mt-4">
    <div class="modal fade" id="add_system_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
               <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Add System Here
                   </h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
               </div>




               <div> <!--method="post"-->
                   <div class="modal-body">
                       <div class="registerdiv">
                        <form method="POST" id="add_system_formId" action="{% url 'user:homepage' operation='create' %} ">
                            {% csrf_token %}

                              <div class="mt-4">
                                   <input type="text" id="systemname" class="form-control bg-white"  placeholder="System Name" name="{{ register_system.name.html_name }}">
                              </div>
                              <div class="mt-4">
                                  <input type="text" id="company_name" class="form-control bg-white"  placeholder="Company Name" name="{{ register_system.company.html_name }}">
                              </div>
                              <div class="mt-4">
                                  <input type="text" id="ram" class="form-control bg-white"  placeholder="Ram" name="{{ register_system.ram.html_name }}">
                              </div>
                              <div class="mt-4">
                                  <select class="form-control bg-white" id="unit"  name="{{ register_system.unit.html_name}}">
                                    <option disabled>----</option>
                                    <option>KB</option>
                                    <option>MB</option>
                                    <option>GB</option>
                                    <option>TB</option>
                                </select>
                            </div>
                              </div>
                       </div>
                   </div>
                   <div class="modal-footer">
                    <button onClick="addsystemPost()"  type="button" class="btn btn-primary" value="addsystembtn" name="addsystembtn" id="addsytemid">Register</button>
                    </div>
                </form>
               </div>
           </div>
       </div>
   </div>
</div>


        <script>
            
            $('#system_data').DataTable();


            function bindDynamicOptions(allUsers){
                var optionStr = ""
                for (user of allUsers){
                    optionStr += '<option class="userdata" value="' + user.id.toString() + '">' +(user.full_name) +  '</option>';
                }
                $("#testModalSelect").append(optionStr) 
            }

            function loadUsers(){
                getAjax('../../get_user/', bindDynamicOptions)
             }


       $('#link').on( "click", function() {
        loadUsers()
       $('#assign').modal('show');
});




// on click of release button modal is open 
$('#relesemodal').on("click",function()
{
$('#relesebtn').modal('show');
    $('input[type=checkbox]').each(function ()
    {
        if (this.checked)
         {
            var a = $(this).attr('value');
            document.getElementById("getsystemid").value = a
        }
    });
      
});





const currentTime = new Date();
  
document.getElementById("assign_time").value = currentTime.toISOString().slice(0, -8);


// on modal if after click on release modal should hide 
$('#releseclosemodal').on("click",function()
{
$('#relesebtn').modal('hide');


});



//while assigning system then modal is hide 
$('#submit').on("click",function()
{
$('#assign').modal('hide');
//window.location.reload();
});
 


$('.add_system').on("click",function()
{
    $('#add_system_modal').modal('show');
  
});

$('#addsytemid').on("click",function()
{
$('#add_system_modal').modal('hide');
//window.location.reload();
});


$('#updatebtn').on("click",function()
{
$('#update_system_modal').modal('hide');
//window.location.reload();
});


/* on release click system released function*/
function relesepost()
{
      var formData = new FormData();
        formData.append('system', $('#getsystemid').val())
      
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
          $.ajax({
              type: 'POST',
              url: "/systems/release/",
              data: formData,
              cache: false,
              processData: false,
              contentType: false,
              success: function (data) {
               
                if(data.release_error_message)  
                {
               
                setTimeout(function () {
                    $('.output').html("<p class='texterror'>" + data.release_error_message+ "</p>");
                    }, 1000);
                    setTimeout(function(){
                        $('.output').remove();
                      }, 3000);
                }
                else if(data.message)
                {
               
                setTimeout(function () {
                    $('.output').html("<p class='textsuccess'>" + data.message + "</p>");
                    }, 1000);
                    setTimeout(function(){
                        $('.output').remove();
                      }, 3000);
                }
                else if(data.select_system_err)
                {
               
                setTimeout(function () {
                    $('.output').html("<p class='texterror'>" + data.select_system_err + "</p>");
                    }, 1000);
                    setTimeout(function(){
                        $('.output').remove();
                      }, 3000);
                }

               
            }
             
          })
}


/* on pensil click updat a data of showing system listing function*/

 $('.update_link').on("click",function()
{
    $('#update_system_modal').modal('show');
    
    var getid = $(this).attr('value');
    var system_name = $("#system_"+getid).text()
    var company_name= $("#company_"+getid).text()
    var ram = $("#ram_"+getid).text()
    var unit = $("#unit_"+getid).text()
    var status = $("#status_"+getid).text()
    var config_id = $("#configure_"+getid).attr('value')
    
    document.getElementById("congigure_id").value = config_id
    document.getElementById("systemUpdate_id").value = getid
    document.getElementById("update_name").value = system_name
    document.getElementById("update_company_name").value = company_name
    document.getElementById("update_ram").value = ram
    document.getElementById("update_unit").value = unit 
    document.getElementById("update_status").value = status
}); 


function updatesystemPost()
{   
    var formData = new FormData();
    formData.append('id', $('#systemUpdate_id').val())
    formData.append('name__name', $('#update_name').val()),
    formData.append('name__company', $('#update_company_name').val()),
    formData.append('name__ram', $('#update_ram').val()),
    formData.append('name__unit', $('#update_unit').val()),
    formData.append('status', $('#update_status').val()),
    

          $.ajax({
              type: 'POST',
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              url: "/systems/update/",
              data: formData,
              cache: false,
              processData: false,
              contentType: false,
              success: function (data) {
                if(data.message)
                {
                        //alert(data.message);
                setTimeout(function () {
                    $('.output').html("<p class='texterror'>" + data.message + "</p>");
                    }, 1000);
                    setTimeout(function(){
                        $('.output').remove();
                      }, 3000);
                     
                    
                }
                else
                {
                    setTimeout(function () {
                        $('.output').html("<p class='textsuccess'>" + data.update_message + "</p>");
                        }, 500);

                        setTimeout(function(){
                            $('.output').remove();
                          }, 3000);
                    //alert(data.update_message)
                }
         }
             
          })
}



/* assign system send data using ajax function*/
function submitPost(){

    let selectedSystems = {
        "systems":[],
        "users": $('#testModalSelect').val(),
        "start_time": $('#assign_time').val(),
        
        
    }; 

    $('input[type=checkbox]').each(function ()
     {
        if (this.checked)
         {
            
            selectedSystems['systems'].push($(this).val());

        }
    });

    $.ajax({
        type: 'POST',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        url: "/systems/assign/",
        data: JSON.stringify(selectedSystems),
        contentType: 'application/json',
        success: function (data){
            //alert(data.message)
           
            if(data.message){
             
                setTimeout(function () {
                    $('.output').html("<p class='textsuccess'>" + data.message + "</p>");
                    }, 1000);
                    setTimeout(function(){
                        $('.output').remove();
                      }, 3000);
                }  
            else if(data.select_system_err){
                setTimeout(function () {
                    $('.output').html("<p class='texterror'>" + data.select_system_err + "</p>");
                    }, 1000);
                    setTimeout(function(){
                        $('.output').remove();
                      }, 3000);
                }  
            else if(data.occupied_error){
                setTimeout(function () {
                    $('.output').html("<p class='texterror'>" + data.occupied_error + "</p>");
                    }, 1000);
                    setTimeout(function(){
                        $('.output').remove();
                      }, 3000);
                }
            else if(data.status_error){
                setTimeout(function () {
                    $('.output').html("<p class='texterror'>" + data.status_error + "</p>");
                    }, 1000);
                    setTimeout(function(){
                        $('.output').remove();
                      }, 3000);
                }
            
        },
        error: function() {
            alert('enter a valid data for assigning system.')
        } 
    })
}



/* add new system using ajax function*/
function addsystemPost()
{
      var formData = new FormData();
        formData.append('name', $('#systemname').val())
        formData.append('company', $('#company_name').val())
        formData.append('ram', $('#ram').val())
        formData.append('unit', $('#unit').val())
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
          $.ajax({
              type: 'POST',
              url: "/systems/create/",
              data: formData,
              cache: false,
              processData: false,
              contentType: false,
               success: function (data) 
               {
                    if(data.message){
                    //alert(data.message);
                    setTimeout(function () {
                        $('.output').html("<p class='textsuccess'>" + data.message + "</p>");
                        }, 1000);
                        setTimeout(function(){
                            $('.output').remove();
                          }, 3000);
                    }    
                    if(data.add_error_msg){
                        //alert(data.message);
                        setTimeout(function () {
                            $('.output').html("<p class='texterror'>" + data.add_error_msg + "</p>");
                            }, 1000);
                            setTimeout(function(){
                                $('.output').remove();
                              }, 3000);
                        }      
                     
            }
             
          })
}
</script>
       {% endblock %}

 