{% extends 'user/base.html' %}
{% load static %}
      {% block showdata %}
      <h2 style="text-align:center;">List of user who used this system</h2>
      <br>
        <table class="table table-striped">
            <thead>
                <th>Username</th>
                <th>Assign Time</th>
                <th>Finish Time</th>
                <th>Duration</th>
            </thead>
            {% for username in userlist%}
            <tr>
                <td><a href="{% url 'user:userlist' pk=username.system_user.id %}" class="userlink"> {{ username.system_user.username}}</a></td>
                <td>{{username.assign_time}}</td>
                <td>{{username.finish_time}}</td>
                <td>{{username.assign_time|timesince:username.finish_time }}</td>

            </tr>
            {% endfor %}
        </table>

      {% endblock %}
