{% extends 'user/base.html' %}
{% load static %}
      {% block showdata %}
        {% if request.user.is_superuser %}
      <h2 style="text-align:center;">List of system used by this user</h2>
      <br>
        <table class="table table-striped">
            <thead>
                <th>System Name</th>
                <th>Assign Time</th>
                <th>Finish Time</th>
                <th>Duration</th>
            </thead>
            {% for system_name in system %}
            <tr>
                <td><a href="{% url 'user:system_userlist' pk=system_name.system.id %}" class="userlink"> {{ system_name.system.name.name }}</a></td>
                <td>{{system_name.assign_time}}</td>
                <td>{{system_name.finish_time}}</td>
                <td>{{system_name.assign_time|timesince:system_name.finish_time }}</td>
            </tr>
            {% endfor %}
        </table>
  {% endif %}
      {% endblock %}
    